<%- include("partials/header"); -%>
<h1><%= name %>,</h1>
<p>Recibiras recordatorios diarios a las <em><%= time %></em> al telefono: (+<%= code %>) <%= number %>.</p>
<%- include("partials/footer"); -%>
