<%- include("partials/header"); -%>
<h2><%= name %>,</h2>
<p>Recibiras recordatorios diarios a las <em><%= time %></em> al telefono: (+<%= code %>) <%= number %>.</p>
<%- include("partials/footer"); -%>
